@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.card {
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.card-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card-body {
    padding: 0;
}
.card-header h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.card-body p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.btn-red {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #21618c;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
th {
    background-color: gray;
    color: #fff;
}
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    color: #21618c;
}
